---
import Layout from '../layouts/Layout.astro';
import { Icon } from 'astro-icon'

import { socials } from '../data/socials'
import { stack } from '../data/stack'
import { projects } from '../data/projects';
import Project from '../components/Project.astro';
---

<Layout title="Ticiano Morvan | Full-stack developer from Argentina">
	<main>
		<section class="content-section">
			<span>
				<h2 class="content-title">Physically typing code, mentally passionate about my projects.</h2>
				<p class="content-description">Self-taught since fifteen, I'm a truly dedicated software developer focused on delivering high-quality applications built on web technologies.</p>

				<span class="hero-cta">
					<a class="hero-cta-contact" href="mailto:ticiano.morvan@gmail.com">
						<Icon name="tabler:mail" size={16} />
						Get in touch
					</a>

					{socials.map((social) => (
						<a
							class="hero-cta-social"
							title={social.name}
							href={social.href}
							target="_blank"
							rel="noreferrer"
						>
							<Icon name={social.icon} size={36} />
						</a>
					))}
				</span>
			</span>

			<img
				class="hero-picture"
				src="https://avatars.githubusercontent.com/u/74388638?v=4"
				alt="Ticiano Morvan"
			/>
		</section>

		<section id="about-me" class="content-section">
			<span>
				<h2 class="content-title">About me</h2>
				<p class="content-description">
					I'm Ticiano Morvan, self-taught software developer since fifteen.
					I started learning programming in 2020, looking to create my own Discord bot.
					Now, years of constant learning before, I'm a passionate full-stack developer with a strong focus in creating reusable and efficient user interfaces and experiences.
					I'm currently working as a Software Development Lead at <a class="content-anchor" href="https://cresi.com.ar" target="_blank" rel="noreferrer">CrESI</a>, where we work
					to re-think education and create new and useful experiences for general public.
				</p>
			</span>

			<span class="about-me-memory">
				<img
					class="about-me-memory-picture"
					src="/images/using-graphic-tablet.jpg"
					alt="Ticiano using a graphic tablet"
				/>

				<p>Me as a fifteen-years-old, prototyping my first projects.</p>
			</span>
		</section>

		<section id="stack" class="content-section one-column">
			<span>
				<h2 class="content-title">My tech-stack</h2>
				<p class="content-description">Even if I build principally web applications, I have knowledge and experience in several other technologies.</p>
			</span>

			<span class="stack-technologies">
				{stack.map((technology) => (
					<Icon class="stack-technologies-children" name={technology.icon} title={technology.label}/>
				))}
			</span>
		</section>

		<section id="projects" class="content-section one-column">
			<span>
				<h2 class="content-title">Projects</h2>
				<p class="content-description">Every theorical knowledge needs practical work, here are some of my personal projects.</p>
			</span>

			<span class="projects-container">
				{projects.map((project) => (
					<Project data={project} />
				))}
			</span>
		</section>
	</main>
</Layout>

<style>
	main {
		color: #fff;
		margin-block: 2em;
		padding: 1em;
	}

	.content-section {
		margin-block: 2em 4em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 2em;
	}

	.content-title {
		max-width: 32ch;
		font-weight: 400;
		font-size: 2em;
	}

	.content-description {
		max-width: 48ch;
		font-size: 1.25em;
		line-height: 1.25em;
		color: #ccc;
	}

	.content-anchor {
		color: var(--primary);
	}

	.hero-cta {
		display: flex;
		align-items: center;
		gap: 1em;
	}

	.hero-cta-contact {
		padding: 1em;
		display: flex;
		align-items: center;
		gap: 0.5em;
		color: #000;
		background-color: var(--primary);
		text-decoration: none;
	}

	.hero-cta-contact:hover {
		filter: brightness(0.9);
	}

	.hero-cta-social {
		color: #fff;
	}

	.hero-picture {
		max-width: 12em;
		border-radius: 50%;
		box-shadow: 0 0 0 0.25em #000, 0 0 0 0.5em #fff;
	}

	.about-me-memory {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1em;
	}

	.about-me-memory-picture {
		max-width: 16em;
		border-radius: 1.25em;
		box-shadow: 0 0 5em hsl(60, 60%, 10%);
	}

	.stack-technologies {
		width: 100%;
		display: grid;
		justify-items: center;
		grid-template-columns: repeat(3, 1fr);
		row-gap: 1em;
	}

	.stack-technologies-children {
		max-width: 3em;
	}

	.projects-container {
		display: grid;
		grid-template-columns: 1fr;
		gap: 1em;
	}

	@media screen and (min-width: 768px) {
		main {
			margin-block: 0;
		}

		.content-section {
			min-height: 100vh;
			flex-direction: row;
			margin-block: 0;
		}

		.content-title {
			font-size: 3em;
		}

		.hero-picture {
			max-width: 18em;
		}

		.one-column {
			text-align: center;
			flex-direction: column;
		}
	
		.stack-technologies {
			grid-template-columns: repeat(6, 1fr);
		}

		.stack-technologies-children {
			max-width: 4em;
		}

		.projects-container {
			grid-template-columns: repeat(3, 1fr);
		}
	}

</style>
